<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-md-4"><%= link_to 'New Article', new_article_path %></div>
  <div class="col-md-4"><%= render :partial => 'articles/search' %></div>
</div>

<br>
<%= render @articles %>
